@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.ttf') format('truetype-variations');
  font-weight: 1 999;
}

@font-face {
  font-family: 'Newsreader';
  src: url('/fonts/Newsreader.ttf') format('truetype-variations');
  font-weight: 1 999;
}

:root {
  --font-main: 'Inter', sans-serif;
  --font-header: 'Newsreader', serif;

  --color-dark: #18181a;
  --color-white: #fff;
  --color-pink: #e4609b;
  --color-pink-light: #e5b7cb;
  --color-cyan: #47bac0;
  --color-red: #2b0808;
  --color-red-light: #da9898;
  --color-gray: #292929;
  --color-gray-light: #c7c7c7;

  --color-background: var(--color-dark);
  --color-font: var(--color-white);
  --color-heading: var(--color-pink);
  --color-strong: var(--color-pink-light);
  --color-accent: var(--color-cyan);
  --color-error-background: var(--color-red);
  --color-error: var(--color-red-light);
  --color-code-background: var(--color-gray);
  --color-code: var(--color-gray-light);
}

html {
  background-color: var(--color-background);
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
  font-family: var(--font-main);
  font-size: 1.3em;
  color: var(--color-font);
  max-width: 1000px;
  margin: 0 auto;
  padding: 5vw;
  word-wrap: break-word;
}

div {
  text-align: center;
}

article,
section {
  padding: 2px 3%;
  border-radius: 20px;
}

article {
  margin: 100px 0 20px 0;
}

section {
  margin: 20px 0;
}

hr ~ article,
article section {
  margin-left: -1px;
  border-left: 1px solid #393939;
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:not([target])::after {
  content: "→";/*\00a0🡪*/
}

a[target="_blank"]::after {
  content: "↗";/*🡭*/
}

a[href^="#"]::after {
  content: "↓";/*🡫*//*↑*/
}

a[href^="mailto"]::after {
  content: "✉";
}

.logo-link {
  text-decoration: none !important;
}

.logo-link::after {
  content: "" !important;
}

.logo-link img {
  width: 50px;
}

.logo-link img,
.logo-link h1 {
  display: inline-block;
  line-height: 50px;
  vertical-align: middle;
  margin: 0 5px;
}

.logo-link img {
  height: 50px;
}

.logo-link h1 {
  min-height: 50px;
}

h1,
h2, 
h3,
h4,
h5 {
  font-family: var(--font-header);
  color: var(--color-heading);
  font-weight: bold;
}

h1 {
  display: inline-block;
  font-size: 2em;
  background: linear-gradient(45deg, var(--color-pink), var(--color-cyan));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 1.5em;
  padding-top: 1em;
}

p,
li {
  line-height: 1.5;
}

li {
  padding: 5px;
}

.error {
  background: var(--color-error-background);
  color: var(--color-error);
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

code {
  background: var(--color-code-background);
  color: var(--color-code);
  word-break: break-all;
  padding: 5px;
  border-radius: 5px;
  -webkit-user-select: all;
  user-select: all;
}

strong {
  color: var(--color-strong);
  font-weight: bold;
}

hr {
  margin: 128px 0 100px 0;
}

footer {
  font-size: 0.8em;
  padding: 40px 0;
}